# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\backend_projects\Business_Administration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
